@model BD.Utilizador
@using EG.Controllers
@{
    ViewBag.Title = "Registre-se";
}
<h2>@ViewBag.Title.</h2>
<h3>Associe a sua conta @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Forma de associação</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Você se autenticou com êxito com <strong>@ViewBag.LoginProvider</strong>.
        Insira um nome de usuário para este site abaixo e clique no botão Registrar para concluir
        o login.
    </p>

    if (AccountController.OEmail != null)
    {
        ViewBag.OEmail = AccountController.OEmail;

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cod_postal, "Codigo Postal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cod_postal", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cod_postal, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(m => m.nome, new { @class = "col-md-2 control-label", @value = AccountController.OEmail, @readonly = "redonly", @style = "text-transform: capitalize" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.nome, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(m => m.contacto, new { @class = "col-md-2 control-label", @value = AccountController.OEmail, @readonly = "redonly", @style = "text-transform: capitalize" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.contacto, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.contacto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.n_eleitor, new { @class = "col-md-2 control-label", @value = AccountController.OEmail, @readonly = "redonly", @style = "text-transform: capitalize" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.n_eleitor, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.n_eleitor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.cc, new { @class = "col-md-2 control-label", @value = AccountController.OEmail, @readonly = "redonly", @style = "text-transform: capitalize" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.cc, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.cc, "", new { @class = "text-danger" })
            </div>
        </div>

    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registre-se" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
