@model IEnumerable<BD.Utilizador>

@{
    ViewBag.Title = "ADO.NET Integration - Home";
}
<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Login from "@User.Identity.Name" Account.</p>
    este e o meu nome? @IdentidadeManager.IdentidadeUser.GetNome()
    este e o meu nome? @IdentidadeManager.IdentidadeUser.GetId()
    @if (IdentidadeManager.IdentidadeUser.isAdmin())
    {
        <h2>Funcionalidade De Admin</h2>
        <li>
            @Html.ActionLink("Editar Permissões dos Utilizadoes", "Index", "Utilizadors", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)
        </li>
    }

    <h2>Funcionalidades</h2>

    <li>
        @Html.ActionLink("Editar Dados", "Edit", "Utilizadors", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)
    </li>

    <li>
        @Html.ActionLink("Criar Sugestão", "Create", "Sugestaos", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)
    </li>

    <li>
        @Html.ActionLink("Fazer Agendamento", "Create", "Agendamentos", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)
    </li>

    <li>
        @Html.ActionLink("Pedido Declaração", "Create", "Pedido_Declaracao", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)
    </li>

    <li>
        @Html.ActionLink("Declarações", "Create", "Declaracaos", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)
    </li>

</div>  