@model IEnumerable<BD.Pedido_Esclarecimento>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de pedidos de decalaração</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.cod_postal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador1.cod_postal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilizador.cod_postal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilizador1.cod_postal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
