@model IEnumerable<BD.Utilizador>
@using Eng_Soft.Controllers

@{
    ViewBag.Title = "ADO.NET Integration - Home";
}
<div class="jumbotron">
    <h1>Welcome</h1>
    @if (Request.Cookies["user"]["admin"] == "True")
    {
        <h2>Funcionalidade de Administrador</h2>

        <li>
            @Html.ActionLink("Editar Permissões dos utilizadores", "Index", "Utilizadors")
        </li>

        <br />
    }


    @if (Request.Cookies["user"]["membro"] == "True")
    {
        <h2>Funcionalidade de Membro da Junta de Freguesia</h2>

        <li>
            @Html.ActionLink("Ver Agendamentos", "Index", "Agendamentoes")
        </li>
        <li>
            @Html.ActionLink("Ver Utilizadores", "UsersView", "Utilizadors")
        </li>
        <li>
            @Html.ActionLink("Ver Problemas Reportados", "Index", "Reportar_Problema")
        </li>
        <li>
            @Html.ActionLink("Ver Pedidos de Declaração", "Index", "Pedido_Declaracao")
        </li>
        <li>
            @Html.ActionLink("Informações úteis", "Index", "Notifcacaos")
        </li>
        <br />
    }

    @if (Request.Cookies["user"]["residente"] == "True")
    {
        <h2>Funcionalidades como Residente</h2>
        <li>
            @Html.ActionLink("Fazer Agendamento", "Create", "Agendamentoes", new { id = int.Parse(Request.Cookies["user"]["id"]) }, null)
        </li>
        <li>
            @Html.ActionLink("Fazer Pedido de Declaração", "Create", "Pedido_Declaracao")
        </li>
        <li>
            @Html.ActionLink("Consultar Meus Documentos", "Index", "Declaracaos")
        </li>


        <br />
    }

    <h2>Funcionalidades Gerais</h2>
    <li>
        @Html.ActionLink("Reportar Problema", "Create", "Reportar_Problema", new { id = int.Parse(Request.Cookies["user"]["id"]) }, null)
    </li>
    <li>
        @Html.ActionLink("Consultar Informações úteis", "Index", "Notifcacaos")
    </li>
    <li>
        @Html.ActionLink("Enviar Sugestão", "Create", "Sugestaos")
    </li>
    <li>
        @Html.ActionLink("Editar Os meus dados", "EditMyProfile", "Utilizadors")
    </li>
    <li>
        @Html.ActionLink("Registos de Login", "Index", "Registo")
    </li>


    @*<p class="lead">Login from "@User.Identity.Name" Account.</p>
        este e o meu nome? @IdentidadeManager.IdentidadeUser.GetNome()
        este e o meu nome? @IdentidadeManager.IdentidadeUser.GetId()
        @if (IdentidadeManager.IdentidadeUser.isAdmin())
        {
            <h2>Funcionalidade De Admin</h2>
            <li>
                @Html.ActionLink("Editar Permissões dos Utilizadoes", "Index", "Utilizadors")
            </li>
        }

        <h2>Funcionalidades</h2>

        <li>
            @Html.ActionLink("Editar Dados", "Edit", "Utilizadors")
        </li>

        <li>
            @Html.ActionLink("Criar Sugestão", "Create", "Sugestaos")
        </li>

        <li>
            @Html.ActionLink("Fazer Agendamento", "Create", "Agendamentos")
        </li>

        <li>
            @Html.ActionLink("Pedido Declaração", "Create", "Pedido_Declaracao")
        </li>

        <li>
            @Html.ActionLink("Declarações", "Create", "Declaracaos")
        </li>

    *@

</div>  