@model IEnumerable<BD.Pedido_Declaracao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Utilizador.nome)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Utilizador.email)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Utilizador.id)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.descricacao)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.data)
        </th>
        <td>
            @Html.ActionLink("Eliminar Pedido de Declaração", "Delete", new { id = item.id }, null) |
            @Html.ActionLink("Criar Declaração", "Create", "Declaracaos", new { id = item.Utilizador.id }, null)
        </td>
    </tr>
}

</table>
