@model BD.Utilizador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n_eleitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n_eleitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freguesia.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freguesia.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
