@model IEnumerable<BD.Utilizador_Perfil>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perfil.tipo_utilizador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.cod_postal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.tipo_utilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.cod_postal)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Utilizador_Perfil", new { id = item.user_id }, null);
                
            </td>
        </tr>
    }
    @Html.ActionLink("Editar Permissões dos Utilizadoes", "Index", "Utilizadors", new { id = int.Parse(IdentidadeManager.IdentidadeUser.GetId()) }, null)

</table>
