@model IEnumerable<BD.Agendamento>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Agendamentos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.objetivo)
            </td>
            <td>
                @Html.ActionLink("Cancelar Agendamento", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Voltar", "Index","Home")